body {
  margin: 10px;
  font-family: Calibri;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.data {
  background-color:rgba(0, 0, 0, 0.8);
}

.data h1 {
	font-size: 36px;
	padding-bottom: 50px;
}

.data h2 {
	padding-left: 50px;
	padding-right: 50px;
}

.data p {
	padding-left: 50px;
	padding-right: 50px;
	text-indent: 50px;
	text-align: justify;
	font-size: 24px;
}

.data table.roti tr td {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 24px;
}

.data table.form tr td {
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	font-size: 24px;
}

input[type=number]{
	font-size: 24px;
	text-align: center;
	width: 5em;
}

input[type=time]{
	font-size: 24px;
	text-align: center;
	width: 7em;
}

input[type=number].harga{
	font-size: 24px;
	text-align: center;
	width: 300px;
}

input[type=text]{
	font-size: 24px;
	text-align: center;
	width: 300px;
}

input[type=date]{
	font-size: 24px;
	text-align: center;
	width: 300px;
}

input[type=password]{
	font-size: 24px;
	text-align: center;
	width: 300px;
}

input[type=text].waktu{
	font-size: 24px;
	text-align: center;
	width: 8em;
}

input[type=submit].submit {
    width: 25%;
    background-color: #ffffff;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 16px;
}

input[type=submit]:hover {
    background-color: #222;
    color: white;
}

.data p.sumber {
	padding-left: 50px;
	padding-right: 50px;
	text-indent: 50px;
	text-align: right;
	font-size: 24px;
}

.data ul {
	padding-left: 100px;
	padding-right: 50px;
	text-align: justify;
	font-size: 24px;
}

.data select{
	font-size: 24px;
	width: 150px;
}

.data select.roti{
	font-size: 24px;
	width: 300px;
}

.topnav {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  background-color: #FF0000;
}

.topnav a.nav {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 1s;
}

.topnav a.nav:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.logo {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a.active {
  float: left;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
  background-color:rgba(0, 0, 0, 0.8);
  color: white;
}
#jadwal {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 20px;
	border-collapse: collapse;
    width: 100%;
	overflow-x:auto;
}

#jadwal td, #jadwal th {
    border-left: 1px solid #ddd;
    padding: 5px;
}

#jadwal tr:nth-child(even){
	background-color: rgba(0, 0, 0, 0.7)
}

#jadwal tr:hover {
	background-color: black;
}
